$primary-color: #ff9933;
$secondary-color: #3366cc;
$accent-color: #ffcc33;
$dark-bg-color: #000000;
$light-bg-color: #ffffff;
// assets/styles/variables.scss

$lcarsPrimary: #ff9933;
$lcarsSecondary: #3366cc;
$lcarsAccent: #ffcc33;
$lcarsBgDark: #000000;
$lcarsBgLight: #ffffff;
